{% extends "base.html" %}
{% block js_func %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jplayer/css/jplayer.blue.monday.min.css') }}">
<script type="text/javascript" src="http://jplayer.org/latest/dist/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://jplayer.org/latest/dist/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var playlist = [
          {{  mp3_list|safe }}
    ];
    new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_N",
        cssSelectorAncestor: "#jp_container_N"
    }, playlist, {
        swfPath: "jPlayer",
        supplied: "mp3,MP3",
        wmode: "window",
        preload: "none",
        keyEnabled: true
    });
});

</script>
{% endblock %}

{% block content %}
 <form action="{{url_for("play_index_mp3")}}" method="get">
  Index URL for MP3(http): <input type="text" name="url_mp3">
  <input type="submit" value="Submit">
</form> 
<hr/>

<div id="jp_container_N" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
                <div id="jquery_jplayer_N" class="jp-jplayer"></div>
                <div class="jp-gui">
                        <div class="jp-video-play">
                                <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-interface">
                                <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                        </div>
                                </div>
                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                <div class="jp-controls-holder">
                                        <div class="jp-controls">
                                                <button class="jp-previous" role="button" tabindex="0">previous</button>
                                                <button class="jp-play" role="button" tabindex="0">play</button>
                                                <button class="jp-next" role="button" tabindex="0">next</button>
                                                <button class="jp-stop" role="button" tabindex="0">stop</button>
                                        </div>
                                        <div class="jp-volume-controls">
                                                <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                <div class="jp-volume-bar">
                                                        <div class="jp-volume-bar-value"></div>
                                                </div>
                                        </div>
                                        <div class="jp-toggles">
                                                <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                                                <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                        </div>
                                </div>
                                <div class="jp-details">
                                        <div class="jp-title" aria-label="title">&nbsp;</div>
                                </div>
                        </div>
                </div>
                <div class="jp-playlist">

                        <ul>
                                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                <li>&nbsp;</li>
                        </ul>
                </div>
                <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
        </div>
</div>
{% endblock %}
